# 1. Thêm các thư viện cần thiết

In [1]:
import pandas as pd

# 2. Đọc Data vào Dataframe. Data được thu thập thủ công từ trang https://www.worldometers.info/coronavirus/ vào ngày 02/05/2022

In [2]:
Data = pd.read_csv('Data.csv',sep=';')

In [3]:
Data

,#,"Country, Other",Total Cases,New Cases,Total Deaths,New Deaths,Total Recovered,New Recovered,Active Cases,"Serious, Critical",Tot Cases/ 1M pop,Deaths/ 1M pop,Total Tests,Tests/1M pop,Population
0,NaN,World,"513,697,783","154,755","6,262,191",623.0,"467,939,862","337,659","39,495,730","40,904","65,903",803.4,NaN,NaN,NaN
1,1.0,USA,"83,083,425",NaN,"1,020,854",NaN,"80,719,929",NaN,"1,342,642","1,554","248,345","3,051","1,005,593,629","3,005,820","334,548,810"
2,2.0,India,"43,082,502",NaN,"523,869",NaN,"42,538,976",NaN,"19,657",698,"30,668",373,"838,208,698","596,678","1,404,791,509"
3,3.0,Brazil,"30,454,490",NaN,"663,567",NaN,"29,533,039",NaN,"257,884","8,318","141,438","3,082","63,776,166","296,193","215,319,917"
4,4.0,France,"28,682,011",NaN,"145,962",NaN,"26,826,905",NaN,"1,709,144","1,557","437,643","2,227","266,484,045","4,066,138","65,537,387"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
224,224.0,MS Zaandam,9,NaN,2,NaN,7,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
225,225.0,Niue,9,NaN,NaN,NaN,7,NaN,2,NaN,"5,468",NaN,NaN,NaN,"1,646"
226,226.0,Micronesia,7,NaN,NaN,NaN,1,NaN,6,NaN,60,NaN,NaN,NaN,"117,226"
227,227.0,Nauru,5,NaN,NaN,NaN,3,NaN,2,NaN,457,NaN,NaN,NaN,"10,948"
228,228.0,Saint Helena,2,NaN,NaN,NaN,2,NaN,0,NaN,327,NaN,NaN,NaN,"6,11"

# 3. Tiền xử lí dữ liệu